/*-----------------------------------------------------------------------------------*/
/*	SOCIAL
/*-----------------------------------------------------------------------------------*/

.social {
  overflow: hidden;
  padding: 80px 0px 150px 0px;
  min-height: 350px;
  /*background: url("../../assets/img/sea.jpg");*/
  background-position: center top;
  background-repeat: repeat-x;
  background-color: #0BC0E0;
  color: white;
}

.social h2 {
  color: white;
}

.social a {
  margin-left: 10px;
  color: #fff;
  font-size: 5em;
  transition: all 0.3s;
}

.social a:hover {
  text-decoration: none;
  cursor: pointer;
}

/*-----------------------------------------------------------------------------------*/
/*	MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/

@media (max-width: 992px) {

  .social {
    background-position-y: 0px;
    background-size: 200%;
  }

}
