<!-- SOCIAL ================================================== -->
<section class="social">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Nos acompanhe nas redes sociais</h2>
        <a class="icon-facebook" target="_blank" href="https://www.facebook.com/appbibliacrista"></a>
        <a class="icon-twitter" target="_blank" href="https://twitter.com/appbibliacrista"></a>
        <a class="icon-instagram" target="_blank" href="https://www.instagram.com/biblia.crista"></a>
      </div>
    </div>
  </div>
</section>
