<!-- FEATURES ================================================== -->
<section class="features">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="circle"><i class="icon-bookmark"></i></div>
        <h2>Bíblia &amp; Referências</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna.</p>
      </div>

      <div class="col-md-4">
        <div class="circle"><i class="icon-music-list"></i></div>
        <h2>Hinários</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna.</p>
      </div>

      <div class="col-md-4">
        <div class="circle"><i class="icon-like"></i></div>
        <h2>Favorite</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna.</p>
      </div>

    </div>
  </div>
</section>
