<!-- FEATURES ================================================== -->
<section class="features">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="circle"><i class="icon-bookmark"></i></div>
        <h2>Quick &amp; Easy Setup</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna.</p>
      </div>

      <div class="col-md-4">
        <div class="circle"><i class="icon-keypad"></i></div>
        <h2>Parallax Scrolling</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna.</p>
      </div>

      <div class="col-md-4">
        <div class="circle"><i class="icon-like"></i></div>
        <h2>Responsive Design</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna.</p>
      </div>

    </div>
  </div>
</section>
