/*-----------------------------------------------------------------------------------*/
/* HEADER
/*-----------------------------------------------------------------------------------*/

header {
  padding: 150px 0px 0px 0px;
  height: 960px;
  background: url("../../assets/img/oracao.png");
  background-color: rgba(255, 255, 255, 1) !important;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black;
}

header h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-weight: 300;
  font-size: 100px;
  font-family: "Gotham-Light", sans-serif;
  text-shadow: black;
}

header p.lead {
  font-size: 36px;
}

header .carousel-iphone {
  margin-right: auto;
  margin-left: auto;
  width: 320px;
  height: 672px;
  background: url("../../assets/img/iphone-front.png") no-repeat;
  background-size: 100%;
}

header .carousel {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 95px 0px 0px 4px;
  width: 282px;
}

header .carousel-indicators .active {
  width: 15px;
  height: 15px;
  background: #444444;
}

header .carousel-indicators {
  bottom: -63px;
}

header .carousel-indicators li {
  display: inline-block;
  margin: 1px;
  width: 15px;
  height: 15px;
  border: 1px solid #666666;
  border-radius: 10px;
  text-indent: -999px;
  cursor: pointer;
}

/*-----------------------------------------------------------------------------------*/
/*	MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/

@media (max-width: 992px) {
  .carousel h1{
    text-align: center;
  }

  header {
    background-position-y: 0px;
    background-position-x: -100px;
    background-size: 300%;
  }

}

@media (max-width: 768px) {
  header {
    padding-bottom: 50px;
    min-height: 1000px;
    height: 100%;
  }

  header p.lead {
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  header .carousel-iphone{
    width: 280px;
  }

  header .carousel{
    padding-top: 85px;
    width: 245px;
  }

  header {
    padding-top: 30px;
    padding-bottom: 0px;
  }

  header h1 {
    font-size: 70px;
  }

}
