@charset "UTF-8";

@font-face {
  font-family: "Gotham-Light";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("../fonts/Gotham-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Gotham-Black";
    src: url("../fonts/Gotham-Black.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
