<!-- GET IT ================================================== -->
<section class="get-it">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Avaialable now on the App Store</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <button type="button" class="app-store"></button>
      </div>
      <div class="col-md-12">
        <hr />
        <ul>
          <li><a href="#link-here">Contact</a></li>
          <li><a href="#link-here">Twitter</a></li>
          <li><a href="#link-here">Press</a></li>
          <li><a href="#link-here">Support</a></li>
          <li><a href="#link-here">Developers</a></li>
          <li><a href="#link-here">Privacy</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
