<!-- GET IT ================================================== -->
<section class="get-it">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Disponível agora na App Store e no Google Play</h1>
        <p class="lead">Baixe o app e comece a enriquecer sua vida com a Palavra de Deus</p>
        <button type="button" class="app-store"></button>
        <button type="button" class="google-play app-store"></button>
      </div>
      <div class="col-md-12">
        <hr />
        <ul>
          <li><a target="_blank" href="#">Contato</a></li>
          <li><a target="_blank" href="#">Sobre</a></li>
          <li><a target="_blank" href="#">Ajuda</a></li>
          <li><a target="_blank" href="#">Desenvolvedores</a></li>
          <li><a target="_blank" href="#">Privacidade</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
