/*-----------------------------------------------------------------------------------*/
/*	GET-IT
/*-----------------------------------------------------------------------------------*/

.get-it {
  padding: 100px 0px 160px 0px;
  text-align: center;
}

.get-it button.app-store {
  width: 152px;
  height: 60px;
	background: url(../../assets/img/badge-appstore.png) #3a3a3a no-repeat 0px 5px;
  color: white;
}

.get-it button.google-play {
  width: 235px;
  height: 60px;
  background: url(../../assets/img/google-play-badge.png) #ffffff00 no-repeat 0px 0px;
  background-position-x: 0px;
  background-position-y: -17px;
  background-size: 235px;
  color: white;
  margin-left: 1vh;
}

.get-it hr {
  margin-top: 3em;
  margin-bottom: 3em;
}

.get-it ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.get-it ul li {
  display: inline-block;
  margin-left: 30px;
}

.get-it ul li:first-child {
  margin-left: 0px;
}

.get-it ul li a {
  color: #aaa;
  font-size: 1.2em;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.get-it ul li a:hover {
  color: #3a3a3a;
  text-decoration: none;
  cursor: pointer;
}

/*-----------------------------------------------------------------------------------*/
/*	MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/

@media (max-width: 480px) {

  .purchase {
    padding-top: 50px;
  }

}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* Retina-specific stuff here */
  .get-it button.google-play {
    background: url("../../assets/img/google-play-badge.png") #ffffff00 no-repeat 0px 5px;
    background-size: 75%;
    background-position-x: 25px;
    background-position-y: -5px;
  }

  .get-it button.app-store {
    background: url("../../assets/img/badge-appstore@2x.png") #000000 no-repeat 0px 5px;
    background-size: 98%;
    color: white;
  }
}
