<!-- DETAILS
	      ================================================== -->
<section class="detail">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="carousel-example-generic-2" class="carousel slide">

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-sm-12 col-md-offset-1 col-md-6">
                  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna.</p>
                </div>
                <div class="col-sm-12 col-md-5">
                  <div class="app-screenshot">
                    <img src="i../../assets/img/screenshots/app-1.png" class="img-responsive" alt="App Screen 1">
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-sm-12 col-md-offset-1 col-md-6">
                  <h1>Sed do eiusmod tempor incididunt ut labore et dolore magna.</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna.</p>
                </div>
                <div class="col-sm-12 col-md-5">
                  <div class="app-screenshot">
                    <img src="../../assets/img/screenshots/app-2.png" class="img-responsive" alt="App Screen 2">
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-sm-12 col-md-offset-1 col-md-6">
                  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna.</p>
                </div>
                <div class="col-sm-12 col-md-5">
                  <div class="app-screenshot">
                    <img src="../../assets/img/screenshots/app-3.png" class="img-responsive" alt="App Screen 3">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic-2" data-slide-to="2"></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
