/*-----------------------------------------------------------------------------------*/
/*	DETAIL
/*-----------------------------------------------------------------------------------*/

.detail {
  overflow: hidden;
  padding: 50px 0px 0px 0px;
  min-height: 500px;
}

.detail .title {
  margin-bottom: 80px;
  text-align: center;
}

.detail .features .row {
  margin-bottom: 40px;
}

.detail .carousel h1 {
  font-size: 3.8em;
}
.detail .carousel h1,
.detail p {
  text-align: left;
  font-weight: 300;
}

.detail p {
  color: #aaa;
}

.detail .carousel-control {
  background: none;
}

.detail .app-screenshot {
  overflow: hidden;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  padding-top: 95px;
  width: 320px;
  height: 450px;
  background: url("../../assets/img/iphone-front.png") no-repeat;
  background-size: 100%;
}

.detail .app-screenshot img {
  margin-right: auto;
  margin-left: auto;
  padding-left: 4px;
  width: 280px;
}

.detail .carousel-indicators {
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 5px;
  padding-bottom: 8px;
  width: 100%;
  border-top: 1px solid #eee;
  background: #ffffff;
}

.detail .carousel-indicators .active {
  width: 45px;
  height: 5px;
  border: none;
  border-radius: 0px;
}

.detail .carousel-indicators li {
  display: inline-block;
  margin: 1px;
  width: 45px;
  height: 5px;
  border: none;
  border-radius: 0px;
  background: #eeeeee;
  text-indent: -999px;
  cursor: pointer;
}
