/*


    _/                                  _/
   _/          _/_/_/  _/_/_/      _/_/_/  _/    _/
  _/        _/    _/  _/    _/  _/    _/  _/    _/
 _/        _/    _/  _/    _/  _/    _/  _/    _/
_/_/_/_/    _/_/_/  _/    _/    _/_/_/    _/_/_/
                                             _/
                                        _/_/

											    V 1.0

                                  													 */
@import "assets/css/iconfont.css";
@import "assets/css/animate.min.css";

/*-----------------------------------------------------------------------------------*/
/* GENERAL
/*-----------------------------------------------------------------------------------*/

body {
  text-align: center;
  font-family: "Gotham-Light", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #3a3a3a;
  font-weight: 700;
  font-family: "Gotham-Light", sans-serif;
}

p {
  font-size: 1.2em;
}

.lead {
  font-weight: 300;
}

button {
  display: inline-block;
  margin-bottom: 0;
  margin-bottom: 10px;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.428571429;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.visibility {
  visibility: hidden;
}

.animated {
  visibility: visible !important;
}

/*-----------------------------------------------------------------------------------*/
/*	KEY COLOR
/*-----------------------------------------------------------------------------------*/

/*---- Typography ----*/
header h1,
.payoff h1,
.details .carousel,
.social a:hover {
  color: #4dd0e1;
}

.features p {
  color: #009faf;
}

/*---- Background ----*/
.features,
.detail .carousel-indicators .active {
  background: #0DDAFF;
}
